html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

nav ol {
  font-size: 1.5rem;
  font-weight: bold;
  color: #8f2440;
  font-family: 'PT Sans', sans-serif;
}

.large {
  font-size: 1.5rem;
  font-weight: bold;
}

h1 {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

figcaption {
  font-style: italic;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bolder;
}

.serving {
  font-style: italic;
}

cite {
  font-size: 0.8rem;
}

.1 .2 .3 {
  font-weight: normal;
}

a {
  color: #8f2440;
}

a:hover {
  color: #3f1622;
}
